main {
    flex-direction: column !important;
}

.header-top-row {
    width: 100%;
}

.header-return-button {
    flex: 0 0 auto;

    height: 100px;
    width: 100px;

    font-size: var(--text-size-1);

    color: var(--color-detail)
}

.header-timer {
    flex: 1 0 auto;

    margin: 0 100px 0 0;

    font-size: var(--text-size-1);

    color: var(--color-detail)
}

.timer-progress-bar {
    display: block;

    height: 4px;
    width: 96%;

    margin: 0 2%;

    background: linear-gradient(
        to right, 
        var(--color-detail) 70%, 
        var(--color-detail) 70%, 
        var(--color-base-1) 70%, 
        var(--color-base-1) 100%
    );
}

.result-container {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
}

.result-text {
    font-size: var(--text-size-4);

    text-align: center;
}

#result-text-total {
    color: var(--color-detail);
}

#result-text-right {
    color: var(--color-response-valid);

}

#result-text-wrong {
    color: var(--color-response-invalid);
}

.main-field {
    outline-color: var(--color-detail);
    outline-style: dashed;
    outline-width: 3px;

    height: 100px;
    width: 200px;

    margin: 15px 0;

    text-align: center;

    white-space: pre;
    
    background: none;
    border: none;

    font-size: var(--text-size-1);

    color: var(--color-detail);
}

.equal-sign {
    margin: 15px 0;

    font-size: var(--text-size-1);

    color: var(--color-detail);
}