.header-top-row {
    width: 100%;
}

.header-return-button {
    flex: 0 0 auto;

    height: 100px;
    width: 100px;

    font-size: var(--text-size-1);

    color: var(--color-detail)
}

.header-timer {
    flex: 1 0 auto;

    margin: 0 100px 0 0;

    font-size: var(--text-size-1);

    color: var(--color-detail)
}