@media (max-width: 1000px) {
    .decor-circles {
        display: none;
    }
}

.decor-circles {
    top: 0;
    left: 0;
}

.decor-circle {
    --x-axis-amp: -1;

    height: var(--diameter);
    width: var(--diameter);

    display: inline-block;

    border-radius: 50%;
}

#decor-circle-0 {
    --diameter: 250px;

    margin-top: 70px;
    margin-left: 70px;

    background-color: var(--color-detail);
}

#decor-circle-1 {
    --diameter: 125px;

    margin-top: 200px;
    margin-left: 20px;

    background-color: var(--color-response-valid);
}

#decor-circle-2 {
    --diameter: 65px;

    margin-top: 220px;
    margin-left: 150px;

    background-color: var(--color-detail);
}

#decor-circle-3 {
    --diameter: 40px;

    margin-top: 100px;
    margin-left: 240px;

    background-color: var(--color-response-invalid);
}

#decor-circle-4 {
    --diameter: 80px;

    margin-top: 20px;
    margin-left: 208px;

    background-color: var(--color-response-invalid);
}
