body > * {
    position: absolute;

    right: 0;
    top: 0;

    margin: 0;
    padding: 0;

    width: 100%;
}

main {
    height: 95%;
    top: 0;
}

@media (max-width: 1000px) {
    .decor-circles {
        display: none;
    }
}

.decor-cricles {
    position: absolute;

    top: 0;
    right: 0;

    margin: 0;
    padding: 0;
}

.decor-circle {
    position: absolute;

    translate: -50% -50%;

    height: var(--diameter);
    width: var(--diameter);

    display: inline-block;

    border-radius: 50%;
}

#decor-circle-0 {
    --diameter: 250px;

    margin-top: 70px;
    margin-left: 70px;

    background-color: var(--color-detail);
}

#decor-circle-1 {
    --diameter: 125px;

    margin-top: 200px;
    margin-left: 20px;

    background-color: var(--color-response-valid);
}

#decor-circle-2 {
    --diameter: 65px;

    margin-top: 220px;
    margin-left: 150px;

    background-color: var(--color-detail);
}

#decor-circle-3 {
    --diameter: 40px;

    margin-top: 100px;
    margin-left: 240px;

    background-color: var(--color-response-invalid);
}

#decor-circle-4 {
    --diameter: 80px;

    margin-top: 20px;
    margin-left: 208px;

    background-color: var(--color-response-invalid);
}

.header-title {
    position: absolute;

    top: 5%;
    right: 50%;

    translate: 50% -50%;

    text-align: center;

    font-size: 50px;

    color: var(--color-detail);
}

.input-field {
    position: absolute;

    right: 50%;

    translate: 50% -50%;

    height: 100px;
    width: 200px;

    text-align: center;

    font-size: 20px;

    color: var(--color-detail);
}

.incdec-input-element {
    display: flex;
    
    flex-direction: row;
    justify-content: space-evenly;

    width: 200px;
    height: 50px;
}

.incdec-value-text {
    line-height: 0px;
}

.incdec-button {
    border: none;
    outline: none;
    background: none;

    font-size: 30px;

    color: var(--color-detail);
}

.input-field-title {
    margin-top: 0;
    margin-bottom: 0;

}

#table-input-field {
    top: 40%;
}

#time-input-field {
    top: 60%;
}

.start-button {
    position: absolute;

    top: 80%;
    right: 50%;
    
    translate: 50% -50%;

    height: 100px;
    width: 200px;

    font-size: 30px;

    border: none;
    background: none;
    box-shadow: none;

    color: var(--color-detail);
}

footer {
    height: 5%;
    top: 95%;
}

.footer-url {
    margin: 0;
    padding: 0;

    position: absolute;

    translate: 50% -50%;

    right: 50%;
    top: 50%;

    height: 40px;
    width: 250px;

    text-align: center;

    font-size: 20px;
    line-height: 40px;

    color: var(--color-detail);
}