main {
    flex-direction: column !important;
    justify-content: flex-start !important;
}

.header-text {
    margin-top: 0;
    margin-bottom: 125px;

    font-size: var(--text-size-1);

    color: var(--color-detail);
}

.result-group {
    margin-bottom: 40px;
    flex-direction: column;

    height: 300px;
    width: 350px;

    outline-color: var(--color-detail);
    outline-style: solid;
    outline-width: 4px;
}

.result-description {
    margin-top: 0;

    font-size: var(--text-size-2);

    color: var(--color-detail);
}

.result-info {
    flex-direction: column;
}

.result-text {
    margin: 5px 0;
    
    white-space: pre;

    font-size: var(--text-size-3);
}

#result-text-table {
    color: var(--color-detail);
}

#result-text-total {
    color: var(--color-detail);
}

#result-text-right {
    color: var(--color-response-valid);
}

#result-text-wrong {
    color: var(--color-response-invalid);
}

.travel-button {
    margin: 20px 0;

    font-size: var(--text-size-2);

    color: var(--color-detail);
}

.footer-url {
    font-size: var(--text-size-4);

    color: var(--color-detail);
}