@font-face {
    font-family: RobotoMono;
    src: url("/source/assets/RobotoMono/RobotoMono-Regular.ttf");
}

:root {
    --text-size-1: 60px;
    --text-size-2: 30px;
    --text-size-3: 25px;
    --text-size-4: 20px;
}

body {
    font-family: RobotoMono !important;
}

input, textarea, select, button {
    font-family: inherit !important;
    font-size: inherit;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}