/* Theme Vintage */
:root {
    --color-base:             #3D405B;
    --color-base-1:           #585B79;
    --color-detail:           #F4F1DE;
    --color-response-valid:   #81B29A;
    --color-response-invalid: #E07A5F;
}

body {
    background-color: var(--color-base) !important;
}

input, textarea, select, button {
    color: inherit;
}